@import "../../../../../styles/variables";
.button{
  padding: 2px 15px;
  border-radius: 2px;
  border: none;
  outline: none;
  background: #676767;
  cursor: pointer;
  font-family: Roboto,sans-serif;
  color: #fff;
  font-weight: normal;
  font-size: .8em;
  text-transform: uppercase;
  transition: opacity .2s ease;
  &:active{
    opacity: .8;
  }
}
.button_active{
  background: $redColor;
}