@import "../../../styles/variables";
.button{
  width: 170px;
  height: 30px;
  margin-left: 10px;
  border-radius: 2px;
  border: none;
  background: $redColor;
  cursor: pointer;
  font-family: $mainFont;
  color: #fff;
  font-weight: normal;
  font-size: .8em;
  text-transform: uppercase;
  transition: opacity .2s ease;
  &:hover{
    opacity: .8;
  }
}
