@import './../../styles/variables';
@import './../../styles/main';

.footer{
  display: flex;
  align-items: center;
  height: 5vh;
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: 2vw;
  font-family: "Roboto",sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: $redColor;
  & > *{
    @extend .container;

  }
}