.searchMovieFilters{
  width: 250px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.searchBy{
  font-family: Roboto,sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.buttons{
  width: 57%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}